*{

margin: 0;

padding: 0;

box-sizing: border-box; font-family: 'Poppins', sans-serif;

}

.container{

width: 100%;

min-height: 10vh;

padding: 3%;

background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)) ;

background-position: center;

background-size: cover;

display: flex;

align-items: center;

justify-content: center;
background-filter:blur;
}


.search-bar{

width: 100%;

max-width: 700px;

background: rgba(255, 260, 26, 0.7);

display: flex;

align-items: center;

border-radius: 60px; padding: 10px 20px;

}

.search-bar input{

background: transparent;

flex: 1;

border: 0;

outline: none;

padding: 0.6px 0.6px;

font-size: 12px;

color: ;

}

::placeholder{

color: #201d74;

}

.search-bar button img{ width: 25px;

}

