*{

margin: 0;

padding: 0;

box-sizing: border-box; font-family: 'Poppins', sans-serif;

}


.input{

width:165px;

height :0px;

background: #eaeaff;

flex: 1;

border: 0;

outline-color:#55acff ;

padding: 20px 10px;

font-size: 18px;

color: ;
border-radius:7px;
    
}
.button{

  
width: 100%;

max-width: 155px;

background-image:linear-gradient(rgba(400,25,180,0.9), rgba(20,200,300,0.9)) ; 

display: flex;

align-items: center;

border-radius: 60px;

 padding: 2px 2px;
 
outline: none;
  
    
}
