body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    
}

.quiz-container {
    max-width: 600px;
    border-radius:10px;
 /* margin: 0 10px 0 10px; */
    padding: 10px 10px 10px 10px;
    background-color:#fff;
}
.score-container {
max-width: 500px;
margin: 0 10px;
}

h1 {
    font-size: 24px;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.score-icon {
  position: center; /* Makes the icon positionable */
/*  top: auto;  Adjusts the icon's position from the top */
/*  right: 36%;
/*  bottom:auto;/* Aligns the icon to the right side */
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius:12px;
}

.hide {
    display: none;
}

.score-container p {
    font-size: 18px;
    margin: 10px 0;
}

/* Add styles for the question counter */
#counter-container {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
}

#counter-container p {
    font-weight: bold;
}

#category-container * {
    font-size:20px;
}

#selcat {
    font-size:20px;
}